<p-toast></p-toast>
<!-- form classe info -->
<form *ngIf="'Classe'|creable" class="form" role="form" #updateClasseForm="ngForm" autocomplete="off">
    <!-- debut body -->
    <div class="modal-header new-sous-class-header">
        <h4 class="modal-title">Modification {{ classe.type }} - {{ classe.libelle }} </h4>
        <button type="button" class="close" (click)="modalSrv.dismissAll('Cross Click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <p-card>
        <div class="row">

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="categorieClasse">Catégorie</label>
                    <ng-select required name="categorieClasse" [items]="categorieClasses" bindLabel="nom"
                        placeholder="Selectionner la catégorie de la classe" appendTo="body" [multiple]="false"
                        [searchable]="true" [(ngModel)]="classe.categorieClasse">
                    </ng-select>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="typeClasse">Type</label>
                    <ng-select required name="typeClasse" [items]="typeClasses" bindLabel="nom"
                        placeholder="Selectionner le type de la classe" appendTo="body" [multiple]="false"
                        [searchable]="true" [(ngModel)]="classe.typeClasse">
                    </ng-select>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="libelle">Libelle</label>
                    <input required [(ngModel)]="classe.libelle" class="form-control" type="text" name="libelle"
                        id="libelle">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="numero">Numero</label>
                    <input required [(ngModel)]="classe.numero" class="form-control" type="text" name="numero"
                        id="numero">
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="description">Description</label>
                    <textarea [(ngModel)]="classe.description" class="form-control" type="text" name="description"
                        id="description"></textarea>
                </div>
            </div>

        </div>
        <!-- fin body -->
        <div class="modal-footer" >
            <button (click)="modalSrv.dismissAll('Cross Click')" type="button" class="btn btn-secondary pull-left"><i class="fa fa-minus" aria-hidden="true"></i>
                Annuler</button>
            <button [disabled]="updateClasseForm.invalid" type="button" (click)="updateClasse()"
                class="btn btn-outline-primary pull-right ml-1"> <i class="fa fa-save" aria-hidden="true"></i>
                Valider</button>
        </div>
    </p-card>

</form>
<!-- /form classe info -->