<p-toast>
</p-toast>
<!-- form classe info -->
<form *ngIf="'Classe'|editable" class="form" role="form" #classeForm="ngForm" autocomplete="off" (ngSubmit)="updateClasse()">
    <p-fieldset legend="Modification de Classe" [toggleable]="true">
        <p-toolbar>
            <div class="text-center">{{classe.libelle}}</div>
            <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-reply" aria-hidden="true"></i>
        Retour</button>
            <button [disabled]="classeForm.invalid" type="submit" class="btn btn-outline-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
        </p-toolbar>
        <!-- debut body -->
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="numero">Numero</label>
                    <input required [(ngModel)]="classe.numero" class="form-control" type="text" name="numero" id="numero">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="libelle">Libelle</label>
                    <input required [(ngModel)]="classe.libelle" class="form-control" type="text" name="libelle" id="libelle">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="typeClasse">Type</label>
                    <ng-select required name="typeClasse" [items]="typeClasses" bindLabel="nom"
                        placeholder="Selectionner le type de la classe" appendTo="body" [multiple]="false" [searchable]="true"
                        [(ngModel)]="classe.typeClasse">
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="categorieClasse">Catégorie</label>
                    <ng-select required name="categorieClasse" [items]="categorieClasses" bindLabel="nom"
                        placeholder="Selectionner la catégorie de la classe" appendTo="body" [multiple]="false" [searchable]="true"
                        [(ngModel)]="classe.categorieClasse">
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="description">Description</label>
                    <textarea [(ngModel)]="classe.description" class="form-control" type="text" name="description" id="description"></textarea>
                </div>
            </div>
        </div>
        <!-- fin body -->
        <p-toolbar>
            <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-reply" aria-hidden="true"></i>
        Retour</button>
            <button [disabled]="classeForm.invalid" type="submit" class="btn btn-outline-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
        </p-toolbar>
    </p-fieldset>
</form>
<!-- /form classe info -->