<div class="row" matchHeight="card">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 id="v80" class="card-title">Version 1.0</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <h5 class="my-2">17-01-2019 [1.0]</h5>
          <h3>Nouveauté</h3>
          <ol>
            <li>Gestion des menus dynamiques</li>
            <li>Gestion des droits d'accès sur les menus, sous-menus et sous-sous-menus de l'application</li>
            <li>Gestion des utilisateurs et des groupes d'utilisateurs (y compris les roles)</li>
            <li>Gestion de la confirmation du mot de passe et de la reccuperation après oubli...</li>
          </ol>
          <h3>Correction</h3>
          <ol>
            <li>Personnalisation de l'interface </li>
            <li>Mis à jour de l'architecture 2/3 de l'application</li>
            <li>Mis à jour du générateur personnalisé de crud</li>
          </ol>

        </div>
      </div>
    </div>
  </div>
</div>