<p-toast></p-toast>
<!-- form fournisseur info -->
<form *ngIf="'Fournisseur'|editable" class="form" role="form" #fournisseurForm="ngForm" autocomplete="off"
    (ngSubmit)="updateFournisseur()">
    <p-fieldset legend="Modification Fournisseur" [toggleable]="true">
        <p-toolbar>
            <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
                    class="fa fa-eraser" aria-hidden="true"></i>
                Retour</button>
            <button [disabled]="fournisseurForm.invalid" type="submit" class="btn btn-outline-warning pull-right">
                <i class="fa fa-edit" aria-hidden="true"></i>
                Enregistrer</button>
        </p-toolbar>
        <!-- debut body -->
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="nom">Nom</label>
                    <input required [(ngModel)]="fournisseur.nom" class="form-control" type="text" name="nom" id="nom">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="telephone">Telephone</label>
                    <input required [(ngModel)]="fournisseur.telephone" class="form-control" type="text" name="telephone"
                        id="telephone">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="email">Email</label>
                    <input required [(ngModel)]="fournisseur.email" class="form-control" type="text" name="email" id="email">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="adresse">Adresse</label>
                    <input required [(ngModel)]="fournisseur.adresse" class="form-control" type="text" name="adresse"
                        id="adresse">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="ninea">Ninea</label>
                    <input required [(ngModel)]="fournisseur.ninea" class="form-control" type="text" name="ninea" id="ninea">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="nomContact">NomContact</label>
                    <input required [(ngModel)]="fournisseur.nomContact" class="form-control" type="text" name="nomContact"
                        id="nomContact">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="telephoneContact">TelephoneContact</label>
                    <input required [(ngModel)]="fournisseur.telephoneContact" class="form-control" type="text"
                        name="telephoneContact" id="telephoneContact">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="fonctionContact">FonctionContact</label>
                    <input [(ngModel)]="fournisseur.fonctionContact" class="form-control" type="text"
                        name="fonctionContact" id="fonctionContact">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="secteurs">Secteurs</label> <br>
                    <p-multiSelect name="secteurs" defaultLabel="Selectionner un ou plusieurs secteurs" [options]="secteurs"
                        [(ngModel)]="fournisseur.secteurs" optionLabel="libelle"></p-multiSelect>
                </div>
            </div>


        </div>
        <!-- fin body -->
        <p-toolbar>
            <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
                    class="fa fa-eraser" aria-hidden="true"></i>
                Retour</button>
            <button [disabled]="fournisseurForm.invalid" type="submit" class="btn btn-outline-warning pull-right">
                <i class="fa fa-edit" aria-hidden="true"></i>
                Enregistrer</button>
        </p-toolbar>
    </p-fieldset>
</form>
<!-- /form fournisseur info -->