<p-toast></p-toast>
<!-- form fournisseur info -->
<form *ngIf="'Fournisseur'|editable" class="form" role="form" #fournisseurForm="ngForm" autocomplete="off"
    (ngSubmit)="updateFournisseur()">
    <p-fieldset legend="Modification Fournisseur" [toggleable]="true">
        <p-toolbar>
            <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
                    class="fa fa-eraser" aria-hidden="true"></i>
                Retour</button>
            <button [disabled]="fournisseurForm.invalid" type="submit" class="btn btn-outline-warning pull-right">
                <i class="fa fa-edit" aria-hidden="true"></i>
                Enregistrer</button>
        </p-toolbar>
        <!-- debut body -->
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="nom">Nom Complet</label>
                    <input required [(ngModel)]="fournisseur.nom" class="form-control" type="text" name="nom" id="nom">
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="telephone">Telephone</label>
                    <p-inputMask required [(ngModel)]="fournisseur.telephone" styleClass="form-control" type="text"
                        name="telephone" id="telephone" mask="99-999-99-99">
                    </p-inputMask>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="email">Email</label>
                    <input required [(ngModel)]="fournisseur.email" class="form-control" type="text" name="email"
                        id="email">
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="adresse">Adresse</label>
                    <input required [(ngModel)]="fournisseur.adresse" class="form-control" type="text" name="adresse"
                        id="adresse">
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="ninea">Ninea</label>
                    <input required [(ngModel)]="fournisseur.ninea" class="form-control" type="text" name="ninea"
                        id="ninea">
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="nomContact">Nom Complet du Contact</label>
                    <input required [(ngModel)]="fournisseur.nomContact" class="form-control" type="text"
                        name="nomContact" id="nomContact">
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="telephone-contact">Telephone Contact</label>
                    <p-inputMask required [(ngModel)]="fournisseur.telephoneContact" styleClass="form-control"
                        type="text" name="telephone-contact" id="telephone-contact" mask="99-999-99-99">
                    </p-inputMask>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="fonctionContact">Fonction Contact</label>
                    <input [(ngModel)]="fournisseur.fonctionContact" class="form-control" type="text"
                        name="fonctionContact" id="fonctionContact">
                </div>
            </div>

            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="addedSecteur">Secteurs</label>
                    <ng-select (remove)="onRemove($event)" required name="selectedSecteur" [items]="secteurs" bindLabel="libelle"
                        placeholder="Selectionner un ou plusieurs secteur" appendTo="body" [multiple]="true"
                        [searchable]="true" [(ngModel)]="fournisseur.secteurs">
                    </ng-select>
                </div>
            </div>
        </div>
        <!-- fin body -->
        <p-toolbar>
            <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
                    class="fa fa-eraser" aria-hidden="true"></i>
                Retour</button>
            <button [disabled]="fournisseurForm.invalid" type="submit" class="btn btn-outline-warning pull-right">
                <i class="fa fa-edit" aria-hidden="true"></i>
                Enregistrer</button>
        </p-toolbar>
    </p-fieldset>
</form>
<!-- /form fournisseur info -->