
<p-toast></p-toast>
<!-- form type_entite info -->
<form *ngIf="'TypeEntite'|editable" class="form" role="form" #type_entiteForm="ngForm" autocomplete="off" (ngSubmit)="updateTypeEntite()">
  <p-fieldset legend="Modification type_entite" [toggleable]="true">
    <p-toolbar>$entity_twig_var_singular ?>" [toggleable]="true">
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="type_entiteForm.invalid" type="submit" class="btn btn-outline-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
    <!-- debut body -->
    <div class="row">
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="libelle">Libelle</label>
                    <input [(ngModel)]="type_entite.libelle" class="form-control" type="text" name="libelle" id="libelle">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="code">Code</label>
                    <input [(ngModel)]="type_entite.code" class="form-control" type="text" name="code" id="code">
                </div>
            </div>
                
      
    </div>
    <!-- fin body -->
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="type_entiteForm.invalid" type="submit" class="btn btn-outline-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
  </p-fieldset>
</form>
<!-- /form type_entite info -->