<section id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="card profile-with-cover pt-2">
                <div class="profil-cover-details row">
                    <div class="col-7">
                        <div class="media align-self-start text-left">

                            <button type="button" (click)="toggleModalPhoto(contentPhoto)" class="profile-image">
                                <img src="assets/img/portrait/avatars/user.png" class="rounded-circle img-border gradient-summer width-150" alt="Profil image">
                                changer Photo
                            </button>

                            <div class="media-body">
                                <h3 class="mt-5 content-header">{{user?.username}} </h3>
                                <p class="grey font-small-2"> Fonction </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">

                        <div class="alert-success" *ngIf="showAlert">
                            <ngb-alert type="success" (close)="alertClose()">Mot de passe modifié avec succés</ngb-alert>
                        </div>
                        <div class="alert-success" *ngIf="showAlert1">
                            <ngb-alert type="success" (close)="alertClose1()">Utilisateur modifié avec succés</ngb-alert>
                        </div>
                        <div class="profile-cover-buttons">
                            <div class="align-self-end">
                                <div class="text-right d-none d-sm-none d-md-none d-lg-block">
                                    <button type="button" (click)="toggle1Modal(content1)" class="btn btn-primary btn-raised mr-2 mt-2"><i class="fa fa-edit"></i> Modifier profil</button>
                                    <button type="button" (click)="toggleModal(content)" class="btn btn-warning btn-raised mr-3 mt-2"><i class="fa fa-lock"></i> Changer mot de passe</button>
                                </div>
                                <div class="text-right d-block d-sm-block d-md-block d-lg-none">
                                    <button type="button" class="btn btn-primary btn-raised mr-2 mt-2"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-warning btn-raised mr-3 mt-2"><i class="fa fa-lock"></i></button>
                                </div>
                            </div>
                            <!-- Modal modifier le profil -->

                        </div>
                    </div>
                </div>
                <div class="profile-section">
                    <div class="row p-3">
                        <div class="col-lg-4 col-md-4">
                            <ul class="profile-menu no-list-style">
                                <li>
                                    <a (click)="showPage('About')" [ngClass]="currentPage === 'About' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">A propos</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 ">
                            <ul class="profile-menu no-list-style">
                                <li>
                                    <a (click)="showPage('Entity')" [ngClass]="currentPage === 'Entity' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">Entité(s)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 ">
                            <ul class="profile-menu no-list-style">
                                <li>
                                    <a (click)="showPage('Markets')" [ngClass]="currentPage === 'Markets' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">Etat Marché</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <ng-template #content let-modal>
                        <p-toast></p-toast>
                        <form #profilForm="ngForm">
                            <div class="modal-header new-sous-class-header">
                                <h4 class="modal-title">Changer votre mot de passe</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="control-group">
                                    <label class="col-form-label form-control-label" for="currentPasword">Mot de  passe actuel </label>
                                    <div class="controls">
                                        <input required [(ngModel)]="user.currentPassword" class="form-control" type="password" name="currentPassword" class="form-control mb-3" id="currentPassword" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="col-form-label form-control-label" for="newPassword">Nouveau mot de passe</label>
                                    <div class="controls">
                                        <input required [(ngModel)]="user.newPassword" class="form-control" type="password" name="newPassword" class="form-control mb-3" id="newPassword" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="col-form-label form-control-label" for="confirmPassword">Confirmer mot de passe</label>
                                    <div class="controls">
                                        <input required [(ngModel)]="user.confirmPassword" class="form-control" type="password" name="confirmPassword" class="form-control mb-3" id="confirmPassword" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer new-sous-class-footer">
                                <button [disabled]="profilForm.invalid" type="button" class="btn btn-outline-primary" (click)="updatePassword()">
                                    Enregistrer
                                </button>
                            </div>

                        </form>
                    </ng-template>

                    <!-- Modal start -->
                    <ng-template #content1 let-modal>
                        <p-toast></p-toast>
                        <form #profil="ngForm">
                            <div class="modal-header new-sous-class-header">
                                <h4 class="modal-title">Modifier Votre Profil</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-form-label form-control-label" for="code">prenom</label>
                                            <input required [(ngModel)]="user.prenom" class="form-control" type="text" name="prenom" id="prenom" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-form-label form-control-label" for="nom">Nom</label>
                                            <input required [(ngModel)]="user.nom" class="form-control" type="text" name="nom" id="nom" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-form-label form-control-label" for="telephone">Telephone</label>
                                            <p-inputMask required [(ngModel)]="user.telephone" styleClass="form-control" type="text" name="telephone" id="telephone" mask="99-999-99-99">
                                            </p-inputMask>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-form-label form-control-label" for="fonction">Fonction</label>
                                            <input required [(ngModel)]="user.fonction" class="form-control" type="text" name="fonction" id="fonction" />
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-form-label form-control-label" for="email">Email</label>
                                            <input disabled required [(ngModel)]="user.email" class="form-control" type="text" name="email" id="email" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer new-sous-class-footer">
                                <button [disabled]="profil.invalid" type="button" class="btn btn-outline-primary" (click)="editProfilUser(modal)">
                    Enregistrer
                </button>
                            </div>
                        </form>
                    </ng-template>
                    <!-- Modal end -->
                    <!-- Modal change photo -->
                    <ng-template #contentPhoto let-modal>
                        <p-toast></p-toast>
                        <form #formPhoto="ngForm">
                            <div class="modal-header new-sous-class-header">
                                <h4 class="modal-title">Modifier Photo</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input class="form-control" type="file" name="photoUrl" id="photoUrl" (change)="onFileSelected($event.target.files)" #selectFile />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <img [src]="imageUrl" style="width: 250px; height: 200px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer new-sous-class-footer">
                                <button [disabled]="formPhoto.invalid" type="button" class="btn btn-outline-primary" (click)="onUpload()">Enregistrer</button>
                            </div>
                        </form>
                    </ng-template>
                    <!-- Modal change photo end -->

                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" *ngIf="currentPage === 'About'">
    <div class="row">
        <div class="col-12">
            <div class="content-header">A Propos</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Informations personnelles</h5>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary font-medium-1"><a><i class="ft-user"></i> Nom:</a></span>
                                        <span class="d-block overflow-hidden font-medium-1"> {{user?.nom}} </span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary font-medium-1"><a><i class="ft-smartphone"></i> Numéro de téléphone:</a></span>
                                        <span class="d-block overflow-hidden font-medium-1"> {{user?.telephone}} </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary font-medium-1"><a><i class="ft-user"></i> Prénom:</a></span>
                                        <span class="d-block overflow-hidden font-medium-1"> {{user?.prenom}} </span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary font-medium-1"><a><i class="ft-mail"></i> Email:</a></span>
                                        <a class="d-block overflow-hidden font-medium-1"> {{user?.email}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section *ngIf="currentPage === 'Entity'">
    <div class="row">
        <div class="col-12 mb-2">
            <div class="content-header">Entité(s)</div>
        </div>
    </div>
    <p-table #tt [value]="type_entites" [paginator]="true" [rows]="50" sortMode="multiple" selectionMode="multiple" [(selection)]="selectedTypeEntites" [resizableColumns]="true" [responsive]="true" [contextMenu]="contextMenu" [(contextMenuSelection)]="selectedTypeEntite"
        [scrollable]="true" scrollHeight="400px" [globalFilterFields]="globalFilterFields" dataKey="id">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col>
                <col>
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn>
                    Libelle
                </th>
                <th pResizableColumn>
                    Code
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-type_entite let-editing="editing">
            <tr [pEditableRow]="type_entite" [pSelectableRow]="type_entite" [pContextMenuRow]="type_entite">
                <td class="ui-resizable-column">
                    {{ type_entite.libelle }}
                </td>
                <td class="ui-resizable-column">
                    {{ type_entite.code }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns>
            <tr>
                <td>Libelle</td>
                <td>Code</td>
            </tr>
        </ng-template>
    </p-table>
</section>

<section id="markets" *ngIf="currentPage === 'Markets'">
    <div class="row">
        <div class="col-12 mb-2">
            <div class="content-header">Etat Marché</div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Code</th>
                <th scope="col">Libellé</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</section>