.profile-menu{
    .active{
        border-bottom: 2px solid;
        margin-bottom: -2px;
    }
}
.light-blue-backdrop {
    background-color: #1D818F;
}
.new-sous-class-header {
    background-color: #16647A;
    color: white;
}
