<p-toast></p-toast>
<div class="row" *ngIf="'Classe'|listable">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p-fieldset legend="Liste des classes" [toggleable]="true">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <p-toolbar>
                        <button *ngIf="'Classe'|listable" type="button" class="btn btn-outline-secondary"
                            (click)="refreshList()">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
                        </button>
                        <!-- <button *ngIf="'Classe'|deletable" (click)="deleteSelectedClasses()" type="button"
                            class="btn btn-outline-danger pull-right ml-1">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer selection
                        </button> -->
                        <button *ngIf="'Classe'|creable" (click)="toggleAddModal()"
                            routerLinkActive="router-link-active" type="button"
                            class="btn btn-outline-primary pull-right ml-1">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i> Ajouter classe
                        </button>
                    </p-toolbar>


                    <p-treeTable #tt [value]="treeNodes" [autoLayout]="true" [paginator]="true" [rows]="10"
                        sortMode="multiple" [globalFilterFields]="globalFilterFields" [(selection)]="selectedClasses"
                        dataKey="numero" selectionMode="checkbox" [contextMenu]="contextMenu"
                        [(contextMenuSelection)]="selectedItem" [loading]="loading"
                        (onNodeExpand)="onNodeExpand($event)">
                        <ng-template pTemplate="caption">
                            PLAN DES COMPTES ET ETATS FINANCIERS
                            <div class="row justify-content-center">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon bg-primary"><i
                                            class="fa fa-search text-white-50"></i></span>
                                    <input class="" type="text" pInputText size="50"
                                        placeholder="Rechercher dans le tableau"
                                        (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th [ttSortableColumn]="'numero'">Numero
                                    <p-treeTableSortIcon [field]="'numero'"></p-treeTableSortIcon>
                                </th>
                                <th [ttSortableColumn]="'libelle'">Nom
                                    <p-treeTableSortIcon [field]="'libelle'"></p-treeTableSortIcon>
                                </th>
                                <th>Description</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                            <tr [ttRow]="rowNode" #rowNodeTemplate [ttSelectableRow]="rowNode" [ttContextMenuRow]="rowNode">
                                <td ttEditableColumn>
                                    <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
                                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                                    <p-treeTableCellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="number" [(ngModel)]="rowData.numero">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData?.numero}}
                                        </ng-template>
                                    </p-treeTableCellEditor>
                                </td>
                                <td ttEditableColumn>
                                    <p-treeTableCellEditor>
                                        <ng-template pTemplate="input">
                                            <input class="form-control" type="text" [(ngModel)]="rowData.libelle">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData?.libelle}}
                                        </ng-template>
                                    </p-treeTableCellEditor>
                                </td>
                                <td ttEditableColumn>
                                    <p-treeTableCellEditor>
                                        <ng-template pTemplate="input">
                                            <textarea class="form-control" type="text"
                                                [(ngModel)]="rowData.description"></textarea>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData?.description}}
                                        </ng-template>
                                    </p-treeTableCellEditor>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td [attr.colspan]="columns?.length">
                                    No records found
                                </td>
                            </tr>
                        </ng-template>
                    </p-treeTable>
                    <p-contextMenu #contextMenu [model]="cMenuItems" (onShow)="pushAddButton()"></p-contextMenu>
                    <p-toolbar>
                        <button *ngIf="'Classe'|creable" (click)="toggleAddModal()" type="button"
                            class="btn btn-outline-primary mr-1">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i> Nouveau
                        </button>
                    </p-toolbar>
                </div>
            </div>
        </p-fieldset>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <ng-template #subClassModal *ngIf="'SousClasse' | editable" let-modal>

            <div class="modal-header new-sous-class-header">
                <h4 class="modal-title">Ajout de {{modalTitle}}</h4>
                <button type="button" (click)="closeModal()" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p-card>
                            <table
                                class="table table-striped table-responsive-md table-responsive-sm table-responsive-lg table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Numero</th>
                                        <th scope="col">Libelle</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of inputObject">
                                        <th scope="row">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text font-weight-bold" id="basic-addon1">
                                                        {{selectedItem?.data.numero}} </span>
                                                </div>
                                                <input
                                                    [class.is-valid]="item.isNumberValid && item?.plainNumber.length"
                                                    [class.is-invalid]="!item.isNumberValid && item?.plainNumber.length"
                                                    [(ngModel)]="item.plainNumber" (input)="validNumber(item)"
                                                    minlength="1" [maxlength]="maxlength" class="form-control is-valid"
                                                    type="text" name="numero" id="numero" placeholder="saisir le numero">
                                            </div>
                                            <small class="text-danger"
                                                *ngIf="!item.isNumberValid && item?.plainNumber">Veuillez
                                                saisir
                                                chiffre.</small>

                                        </th>
                                        <td>
                                            <input [(ngModel)]="item.value.libelle"
                                                [class.is-valid]="item.isLabelValid && item?.value?.libelle?.length"
                                                [class.is-invalid]="!item.isLabelValid && item?.value?.libelle?.length"
                                                (input)="labelValidator(item)" class="form-control" type="text"
                                                name="libelle" id="libelle" placeholder="saisir le libelle">
                                        </td>
                                        <td>
                                            <button *ngIf="item.id!=0" (click)="removeInputItem(item.id)" type="button"
                                                class="btn-sm btn-outline-danger"><i class="pi pi-minus"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between">
                                <button [disabled]="!checkIfAllIsValid()" *ngIf="'SousClasse'|creable" type="button"
                                    (click)="addItems()" class="btn btn-outline-primary mr-1">
                                    <i class="pi pi-check-circle"></i> Valider
                                </button>
                                <button *ngIf="'SousClasse'|creable" type="button" (click)="addInputItem()"
                                    class="btn btn-outline-primary mr-1">
                                    <i class="fa fa-plus-circle"></i> Ajouter une nouvelle ligne
                                </button>
                            </div>
                        </p-card>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>

        </ng-template>
    </div>
</div>