<p-toast></p-toast>
<div class="row" *ngIf="'Entite'|listable">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p-fieldset legend="Liste des entités" [toggleable]="true">
            <p-tabView>
                <p-tabPanel header="Liste">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <p-toolbar>
                                <button *ngIf="'Entite'|listable" type="button" class="btn btn-outline-secondary"
                                    (click)="refreshList()">
                                    <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
                                </button>
                                <button *ngIf="'Entite'|deletable" (click)="deleteSelectedEntites()" type="button"
                                    class="btn btn-outline-danger pull-right ml-1">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer selection
                                </button>
                                <button *ngIf="'Entite'|creable" [routerLink]="['/'+entiteSrv.getRoutePrefix(),'new']"
                                    routerLinkActive="router-link-active" type="button"
                                    class="btn btn-outline-primary pull-right ml-1">
                                    <i class="fa fa-plus-square-o" aria-hidden="true"></i> Nouveau
                                </button>
                            </p-toolbar>
                            <p-table #tt [value]="entites" [paginator]="true" [rows]="50"
                                [globalFilterFields]="globalFilterFields" dataKey="id" [responsive]="true"
                                sortMode="multiple" selectionMode="multiple" [(selection)]="selectedEntites"
                                [contextMenu]="contextMenu" [(contextMenuSelection)]="selectedEntite"
                                [scrollable]="true" scrollHeight="400px" [resizableColumns]="true">
                                <ng-template pTemplate="caption">
                                    Liste des entités<br>
                                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" placeholder="Rechercher dans le tableau"
                                        (input)="tt.filterGlobal($event.target['value'], 'contains')"
                                        style="width:auto">
                                    <div class="ui-helper-clearfix" style="text-align: left">
                                        <button *ngIf="'Entite'|listable" type="button" pButton icon="pi pi-file-pdf"
                                            iconPos="left" label="PDF" (click)="exportPdf()"
                                            class="ui-button-warning pull-right ml-1"></button>
                                        <button *ngIf="'Entite'|listable" type="button" pButton icon="pi pi-file-excel"
                                            iconPos="left" label="EXCEL" (click)="exportExcel()"
                                            style="margin-right: 0.5em;" class="ui-button-success pull-right"></button>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="colgroup">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3em">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th [pSortableColumn]="'nom'" pResizableColumn>
                                            Nom
                                            <p-sortIcon [field]="'nom'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'code'" pResizableColumn>
                                            Code
                                            <p-sortIcon [field]="'code'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'etat'" pResizableColumn>
                                            Etat
                                            <p-sortIcon [field]="'etat'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'entiteParent'" pResizableColumn>
                                            Entité Parent
                                            <p-sortIcon [field]="'entiteParent'"></p-sortIcon>
                                        </th>
                                        <th [pSortableColumn]="'typeEntite'" pResizableColumn>
                                            Type Entité
                                            <p-sortIcon [field]="'typeEntite'"></p-sortIcon>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="width: 3em">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th>
                                            <input pInputText type="text" size="15"
                                                (input)="tt.filterGlobal($event.target['value'], 'contains')">
                                        </th>
                                        <th>
                                            <input pInputText type="text" size="15"
                                                (input)="tt.filterGlobal($event.target['value'], 'contains')">
                                        </th>
                                        <th>
                                            <p-multiSelect [options]="etats" [(ngModel)]="selectedEtat"
                                                [style]="{'width':'100%','min-width':'100%'}" appendTo="body"
                                                defaultLabel="Sélectionner les états" (onChange)="filter()">
                                            </p-multiSelect>
                                        </th>
                                        <th>
                                            <p-dropdown [options]="entiteParents" [(ngModel)]="selectedEntiteParent"
                                                optionLabel="nom" appendTo="body"
                                                placeholder="Sélectionner un entité parent"
                                                [style]="{'width':'100%','min-width':'100%'}" (onChange)="filter()">
                                            </p-dropdown>
                                        </th>
                                        <th>
                                            <p-dropdown [(ngModel)]="selectedTypeEntite" optionLabel="libelle"
                                                appendTo="body" [options]="typeEntites"
                                                [style]="{'width':'100%','min-width':'100%'}"
                                                placeholder="Sélectionner un type d'entité" (onChange)="filter()">
                                            </p-dropdown>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-entite let-columns="columns">
                                    <tr [pEditableRow]="entite" [pSelectableRow]="entite" [pContextMenuRow]="entite">
                                        <td style="width: 3em">
                                            <p-tableCheckbox [value]="entite"></p-tableCheckbox>
                                        </td>
                                        <td class="ui-resizable-column">
                                            {{ entite.nom }}
                                        </td>
                                        <td class="ui-resizable-column">
                                            {{ entite.code }}
                                        </td>
                                        <td class="ui-resizable-column">
                                            <span class="badge badge-success" *ngIf="entite.etat">Actif</span>
                                            <span class="badge badge-danger" *ngIf="!entite.etat">Inactif</span>
                                        </td>
                                        <td class="ui-resizable-column">
                                            {{ entite?.entiteParent?.nom }}
                                            <span class="badge badge-danger" *ngIf="!entite?.entiteParent">Non
                                                précisé</span>
                                        </td>
                                        <td class="ui-resizable-column">
                                            {{ entite.typeEntite.libelle }}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer" let-columns>
                                    <tr>
                                        <td style="width: 3em">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </td>
                                        <td>Nom</td>
                                        <td>Code</td>
                                        <td>Etat</td>
                                        <td>Entité Parent</td>
                                        <td>Type Entité</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <p-contextMenu #contextMenu [model]="cMenuItems"></p-contextMenu>
                            <p-toolbar>
                                <button *ngIf="'Entite'|deletable" (click)="deleteSelectedEntites()" type="button"
                                    class="btn btn-outline-danger mr-1">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer selection
                                </button>
                                <button *ngIf="'Entite'|creable" [routerLink]="['/'+entiteSrv.getRoutePrefix(),'new']"
                                    routerLinkActive="router-link-active" type="button"
                                    class="btn btn-outline-primary mr-1">
                                    <i class="fa fa-plus-square-o" aria-hidden="true"></i> Nouveau
                                </button>
                            </p-toolbar>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Representation Graphique">
                    <app-entite-orgchart [deletedItemNotifier]="deletedItemSubject" [entites]="entites">
                    </app-entite-orgchart>
                </p-tabPanel>
            </p-tabView>
        </p-fieldset>
    </div>
    <div class="col-sm-12">
    </div>
</div>

<ng-template #deletionConfirm *ngIf="'Classe' | deletable" let-modal>
    <div class="modal-header new-sous-class-header">
        <h4 class="modal-title" id="modal-title">Confirmer la suppression</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="dissmissModal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            <span class="font-weight-bold">Êtes vous sûr de vouloir supprimer
                l'Entite <span class="text-primary"> {{ selectedEntite.nom }} </span> ?
            </span></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="dissmissModal('cancel click')">Annuler</button>
        <button type="button" ngbAutofocus class="btn btn-outline-danger" (click)="deleteEntiteAfterConfirmation()">
            Ok</button>
    </div>
</ng-template>