
<p-toast></p-toast>
<!-- form sous_classe info -->
<form *ngIf="'SousClasse'|editable" class="form" role="form" #sous_classeForm="ngForm" autocomplete="off" (ngSubmit)="updateSousClasse()">
  <p-fieldset legend="Modification utilisateur" [toggleable]="true">
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="sous_classeForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
    <!-- debut body -->
    <div class="row">
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="numero">Numero</label>
                    <input [(ngModel)]="sous_classe.numero" class="form-control" type="text" name="numero" id="numero">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="libelle">Libelle</label>
                    <input [(ngModel)]="sous_classe.libelle" class="form-control" type="text" name="libelle" id="libelle">
                </div>
            </div>
                            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="description">Description</label>
                    <input [(ngModel)]="sous_classe.description" class="form-control" type="text" name="description" id="description">
                </div>
            </div>
                
      
    </div>
    <!-- fin body -->
    <p-toolbar>
      <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
          class="fa fa-eraser" aria-hidden="true"></i>
        Retour</button>
      <button [disabled]="sous_classeForm.invalid" type="submit" class="btn btn-warning pull-right">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Enregistrer</button>
    </p-toolbar>
  </p-fieldset>
</form>
<!-- /form sous_classe info -->