<p-toast></p-toast>
<p-fieldset *ngIf="'Compte'|showable" legend="Affichage des informations - compte" [toggleable]="true">
  <p-toolbar>
    <button *ngIf="'Compte'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
      [routerLink]="['/'+compteSrv.getRoutePrefix(),compte.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
      Modifier</button>
    <button *ngIf="'Compte'|clonable" [routerLink]="['/'+compteSrv.getRoutePrefix(),compte.id,'clone']" type="button"
      class="btn btn-outline-secondary pull-right ml-1">
      <i class="fa fa-clone" aria-hidden="true"></i> Cloner
    </button>
    <button *ngIf="'Compte'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removeCompte()"><i
        class="fa fa-trash-o"></i> Supprimer</button>
    <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
        class="fa fa-reply"></i> Retour</button>
  </p-toolbar>
  <p-tabView>
    <p-tabPanel header="Détails">
      <p-fieldset [legend]="compte.id">
        <table class="table">
                                    <tr>
                <th>Numero</th>
                <td>{{ compte.numero }}</td>
            </tr>
                                    <tr>
                <th>Libelle</th>
                <td>{{ compte.libelle }}</td>
            </tr>
                                    <tr>
                <th>Description</th>
                <td>{{ compte.description }}</td>
            </tr>
                    </table>
        <p-toolbar>
          <button *ngIf="'Compte'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
            [routerLink]="['/'+compteSrv.getRoutePrefix(),compte.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
            Modifier</button>
          <button *ngIf="'Compte'|clonable" [routerLink]="['/'+compteSrv.getRoutePrefix(),compte.id,'clone']" type="button"
            class="btn btn-outline-secondary pull-right ml-1">
            <i class="fa fa-clone" aria-hidden="true"></i> Cloner
          </button>
          <button *ngIf="'Compte'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removeCompte()"><i
              class="fa fa-trash-o"></i> Supprimer</button>
          <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
              class="fa fa-reply"></i> Retour</button>
          <button *ngIf="'Compte'|showable" type="button" class="btn btn-secondary ml-1" (click)="refresh()">
              <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
          </button>
        </p-toolbar>
      </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Liste associée">
      
    </p-tabPanel>
  </p-tabView>
</p-fieldset>
