<p-toast></p-toast>
<!-- form user info -->
<form *ngIf="'User'|editable" class="form" role="form" #userForm="ngForm" autocomplete="off" (ngSubmit)="updateUser()">
    <p-fieldset legend="Modification utilisateur" [toggleable]="true">
        <p-toolbar>
            <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
                    class="fa fa-eraser" aria-hidden="true"></i>
                Retour</button>
            <button [disabled]="userForm.invalid" type="submit" class="btn btn-outline-warning pull-right">
                <i class="fa fa-edit" aria-hidden="true"></i>
                Enregistrer</button>
        </p-toolbar>
        <!-- debut body -->
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="prenom">Prenom</label>
                    <input required [(ngModel)]="user.prenom" class="form-control" type="text" name="prenom"
                        id="prenom">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="nom">Nom</label>
                    <input required [(ngModel)]="user.nom" class="form-control" type="text" name="nom" id="nom">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="email">Email</label>
                    <input required [(ngModel)]="user.email" class="form-control" type="email" name="email" id="email">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="telephone">Telephone</label>
                    <input [(ngModel)]="user.telephone" class="form-control" type="tel" name="telephone" id="telephone">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="groups">Groupes d'utilisateur</label> <br>
                    <p-multiSelect name="groups" id="groups" defaultLabel="Selectionner un ou plusieurs groupes" [options]="groups"
                        [(ngModel)]="user.groups" optionLabel="name"></p-multiSelect>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="entites">Entites</label> <br>
                    <p-multiSelect name="entites" id="entites" defaultLabel="Selectionner un ou plusieurs Entite" [options]="entites"
                        [(ngModel)]="user.entites" optionLabel="nom" required></p-multiSelect>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="fonction">Fonction</label>
                    <input [(ngModel)]="user.fonction" class="form-control" type="text" name="fonction" id="fonction" required>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-form-label form-control-label" for="enabled">Activer le compte ?</label> <br>
                    <p-inputSwitch styleClass="form-control" id="enabled" name="enabled" [(ngModel)]="user.enabled"></p-inputSwitch>
                </div>
            </div>
        </div>
        <!-- fin body -->
        <p-toolbar>
            <button type="button" (click)="location.back()" class="btn btn-outline-secondary pull-left"><i
                    class="fa fa-eraser" aria-hidden="true"></i>
                Retour</button>
            <button [disabled]="userForm.invalid" type="submit" class="btn btn-outline-warning pull-right">
                <i class="fa fa-edit" aria-hidden="true"></i>
                Enregistrer</button>
        </p-toolbar>
    </p-fieldset>
</form>
<!-- /form user info -->
