<p-toast></p-toast>
<div class="row" *ngIf="'User'|listable">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <p-fieldset legend="Liste des users" [toggleable]="true">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p-toolbar>
            <button *ngIf="'User'|listable" type="button" class="btn btn-outline-secondary" (click)="refreshList()">
              <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
            </button>
            <button *ngIf="'User'|deletable" (click)="deleteSelectedUsers()" type="button"
              class="btn btn-outline-danger pull-right ml-1">
              <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer selection
            </button>
            <button *ngIf="'User'|creable" [routerLink]="['/'+userSrv.getRoutePrefix(),'new']"
              routerLinkActive="router-link-active" type="button" class="btn btn-outline-primary pull-right ml-1">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i> Nouveau
            </button>
          </p-toolbar>
          <p-table #tt [value]="users" [paginator]="true" [rows]="50" sortMode="multiple" selectionMode="multiple"
            [(selection)]="selectedUsers" [resizableColumns]="true" [responsive]="true" [contextMenu]="contextMenu"
            [(contextMenuSelection)]="selectedUser" [scrollable]="true" scrollHeight="400px"
            [globalFilterFields]="globalFilterFields" dataKey="id">
            <ng-template pTemplate="caption">
              Liste des users<br>
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Rechercher dans le tableau"
                (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
              <div class="ui-helper-clearfix" style="text-align: left">
                <button *ngIf="'User'|listable" type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF"
                  (click)="exportPdf()" class="ui-button-warning pull-right ml-1"></button>
                <button *ngIf="'User'|listable" type="button" pButton icon="pi pi-file-excel" iconPos="left"
                  label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;"
                  class="ui-button-success pull-right"></button>
              </div>
            </ng-template>
            <ng-template pTemplate="colgroup">
              <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
              </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3em">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [pSortableColumn]="'username'" pResizableColumn>
                  Username <p-sortIcon [field]="'username'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'usernameCanonical'" pResizableColumn>
                  UsernameCanonical <p-sortIcon [field]="'usernameCanonical'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'email'" pResizableColumn>
                  Email <p-sortIcon [field]="'email'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'emailCanonical'" pResizableColumn>
                  EmailCanonical <p-sortIcon [field]="'emailCanonical'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'enabled'" pResizableColumn>
                  Enabled <p-sortIcon [field]="'enabled'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'salt'" pResizableColumn>
                  Salt <p-sortIcon [field]="'salt'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'password'" pResizableColumn>
                  Password <p-sortIcon [field]="'password'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'lastLogin'" pResizableColumn>
                  LastLogin <p-sortIcon [field]="'lastLogin'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'confirmationToken'" pResizableColumn>
                  ConfirmationToken <p-sortIcon [field]="'confirmationToken'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'passwordRequestedAt'" pResizableColumn>
                  PasswordRequestedAt <p-sortIcon [field]="'passwordRequestedAt'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'roles'" pResizableColumn>
                  Roles <p-sortIcon [field]="'roles'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'prenom'" pResizableColumn>
                  Prenom <p-sortIcon [field]="'prenom'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'nom'" pResizableColumn>
                  Nom <p-sortIcon [field]="'nom'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'telephone'" pResizableColumn>
                  Telephone <p-sortIcon [field]="'telephone'"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-editing="editing">
              <tr [pEditableRow]="user" [pSelectableRow]="user" [pContextMenuRow]="user">
                <td style="width: 3em">
                  <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
                <td class="ui-resizable-column">
                  {{ user.username }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.usernameCanonical }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.email }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.emailCanonical }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.enabled ? 'Yes' : 'No' }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.salt }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.password }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.lastLogin}}
                </td>
                <td class="ui-resizable-column">
                  {{ user.confirmationToken }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.passwordRequestedAt }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.roles }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.prenom }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.nom }}
                </td>
                <td class="ui-resizable-column">
                  {{ user.telephone }}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
              <tr>
                <td style="width: 3em">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </td>
                <td>Username</td>
                <td>UsernameCanonical</td>
                <td>Email</td>
                <td>EmailCanonical</td>
                <td>Enabled</td>
                <td>Salt</td>
                <td>Password</td>
                <td>LastLogin</td>
                <td>ConfirmationToken</td>
                <td>PasswordRequestedAt</td>
                <td>Roles</td>
                <td>Prenom</td>
                <td>Nom</td>
                <td>Telephone</td>
              </tr>
            </ng-template>
          </p-table>
          <p-contextMenu #contextMenu [model]="cMenuItems"></p-contextMenu>
          <p-toolbar>
            <button *ngIf="'User'|deletable" (click)="deleteSelectedUsers()" type="button"
              class="btn btn-outline-danger mr-1">
              <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer selection
            </button>
            <button *ngIf="'User'|creable" [routerLink]="['/'+userSrv.getRoutePrefix(),'new']"
              routerLinkActive="router-link-active" type="button" class="btn btn-outline-primary mr-1">
              <i class="fa fa-plus-square-o" aria-hidden="true"></i> Nouveau
            </button>
          </p-toolbar>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>