<p-toast></p-toast>
<p-fieldset *ngIf="'User'|showable" legend="Affichage des informations d'un utilisateur" [toggleable]="true">
    <p-toolbar>
        <button *ngIf="'User'|editable" type="button" class="btn btn-outline-warning pull-right ml-1" [routerLink]="['/'+userSrv.getRoutePrefix(),user.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
      Modifier</button>
        <button *ngIf="'User'|clonable" [routerLink]="['/'+userSrv.getRoutePrefix(),user.id,'clone']" type="button" class="btn btn-outline-secondary pull-right ml-1">
      <i class="fa fa-clone" aria-hidden="true"></i> Cloner
    </button>
        <button *ngIf="'User'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removeUser()"><i class="fa fa-trash-o"></i> Supprimer</button>
        <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
        class="fa fa-reply"></i> Retour</button>
        
        <button *ngIf="!user.enabled" type="button" class="btn btn-outline-primary pull-right ml-1" (click)="updateEtat(user)">
          Activer compte Utilisateur<i class="pi pi-unlock "></i>
      </button>
        <button *ngIf="user.enabled" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="updateEtat(user)">
            Désactiver compte Utilisateur<i class="pi pi-lock "></i>
      </button>
    </p-toolbar>
    <p-tabView>
        <p-tabPanel header="Détails">
            <p-fieldset [legend]="user.prenom+' '+user.nom+' ('+user.email+')'">
                <table class="table">
                    <tr>
                        <th>Prenom</th>
                        <td>{{ user.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.nom }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>{{ user.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Fonction</th>
                        <td>{{ user?.fonction }}</td>
                    </tr>
                    <tr>
                        <th>Etat Compte</th>
                        <td>{{ user.enabled ? 'Actif' : 'Inactif' }}</td>
                    </tr>
                    <tr>
                        <th>Dernierement connecté</th>
                        <td>{{ user.lastLogin|date:'dd/MM/yyyy à HH:mm:ss' }}</td>
                    </tr>
                    <tr>
                        <th>Groupes associés</th>
                        <td>
                            <p-chips disabled="true" [(ngModel)]="user.groups">
                                <ng-template let-item pTemplate="item">
                                    {{item.name}} - ({{item.code}}) <i class="fa fa-gift" aria-hidden="true"></i>
                                </ng-template>
                            </p-chips>
                        </td>
                    </tr>

                </table>
                <p-toolbar>
                    <button *ngIf="'User'|editable" type="button" class="btn btn-outline-warning pull-right ml-1" [routerLink]="['/'+userSrv.getRoutePrefix(),user.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
            Modifier</button>
                    <button *ngIf="'User'|clonable" [routerLink]="['/'+userSrv.getRoutePrefix(),user.id,'clone']" type="button" class="btn btn-outline-secondary pull-right ml-1">
            <i class="fa fa-clone" aria-hidden="true"></i> Cloner
          </button>
                    <button *ngIf="'User'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1" (click)="removeUser()"><i class="fa fa-trash-o"></i> Supprimer</button>
                    <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
              class="fa fa-reply"></i> Retour</button>
                    <button *ngIf="'User'|showable" type="button" class="btn btn-secondary ml-1" (click)="refresh()">
            <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
          </button>
                </p-toolbar>
            </p-fieldset>
        </p-tabPanel>
        <p-tabPanel header="Liste des entites" *ngIf="user.entites == entites" >
           <p-table #tt [value]="user.entites" [paginator]="true" [rows]="50" sortMode="multiple"
                             selectionMode="multiple" [(selection)]="selectedEntites" [resizableColumns]="true"
                             [responsive]="true" [contextMenu]="contextMenu" [(contextMenuSelection)]="selectedEntite"
                             [scrollable]="true" scrollHeight="400px" [globalFilterFields]="globalFilterFields"
                             dataKey="id">
                        <ng-template pTemplate="caption">
                            Liste des entités<br>
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Rechercher dans le tableau"
                                   (input)="tt.filterGlobal($event.target['value'], 'contains')" style="width:auto">
                            <div class="ui-helper-clearfix" style="text-align: left">
                                <button *ngIf="'Entite'|listable" type="button" pButton icon="pi pi-file-pdf"
                                        iconPos="left" label="PDF" (click)="exportPdf()"
                                        class="ui-button-warning pull-right ml-1"></button>
                                <button *ngIf="'Entite'|listable" type="button" pButton icon="pi pi-file-excel"
                                        iconPos="left" label="EXCEL" (click)="exportExcel()"
                                        style="margin-right: 0.5em;" class="ui-button-success pull-right"></button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3em">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th [pSortableColumn]="'nom'" pResizableColumn>
                                    Nom
                                    <p-sortIcon [field]="'nom'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'code'" pResizableColumn>
                                    Code
                                    <p-sortIcon [field]="'code'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'etat'" pResizableColumn>
                                    Etat
                                    <p-sortIcon [field]="'etat'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'entiteParent'" pResizableColumn>
                                    Entité Parent
                                    <p-sortIcon [field]="'entiteParent'"></p-sortIcon>
                                </th>
                                <th [pSortableColumn]="'typeEntite'" pResizableColumn>
                                    Type Entité
                                    <p-sortIcon [field]="'typeEntite'"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-entite>
                            <tr [pEditableRow]="entite" [pSelectableRow]="entite" [pContextMenuRow]="entite">
                                <td style="width: 3em">
                                    <p-tableCheckbox [value]="entite"></p-tableCheckbox>
                                </td>
                                <td class="ui-resizable-column">
                                    {{ entite.nom }}
                                </td>
                                <td class="ui-resizable-column">
                                    {{ entite.code }}
                                </td>
                                <td class="ui-resizable-column">
                                    <span class="badge badge-success" *ngIf="entite.etat">Active</span>
                                    <span class="badge badge-danger" *ngIf="!entite.etat">Inactive</span>
                                </td>
                                <td class="ui-resizable-column">
                                    {{ entite?.entiteParent?.nom }}
                                    <span class="badge badge-danger" *ngIf="!entite?.entiteParent">Non précisé</span>
                                </td>
                                <td class="ui-resizable-column">
                                    {{ entite.typeEntite.libelle }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer" let-columns>
                            <tr>
                                <td style="width: 3em">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </td>
                                <td>Nom</td>
                                <td>Code</td>
                                <td>Etat</td>
                                <td>Entité Parent</td>
                                <td>Type Entité</td>
                            </tr>
                        </ng-template>
                    </p-table>
           
        </p-tabPanel>
        <p-tabPanel header="Liste des etats marche">
                <p-table #tt [value]="user.etatMarche" [paginator]="true" [rows]="50" sortMode="multiple"
                    selectionMode="multiple" [(selection)]="selectedEtatMarche" [resizableColumns]="true" [responsive]="true"
                    [scrollable]="true" scrollHeight="400px" [globalFilterFields]="globalFilterFields" dataKey="id" >
                    <ng-template pTemplate="caption">
                        Etat Marche<br>
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Rechercher dans le tableau"
                            (input)="tt.filterGlobal($event.target['value'], 'contains')" style="width:auto">
                    </ng-template>
                    <ng-template pTemplate="colgroup">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3em">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th [pSortableColumn]="'code'" pResizableColumn>
                                Code
                                <p-sortIcon [field]="'code'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'libelle'" pResizableColumn>
                                Libelle
                                <p-sortIcon [field]="'libelle'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'description'" pResizableColumn>
                                Description
                                <p-sortIcon [field]="'description'"></p-sortIcon>
                            </th>
                            <th [pSortableColumn]="'etatprecedent'" pResizableColumn>
                                Etat Precedent
                                <p-sortIcon [field]="'etatprecedent'"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-etatMarche>
                        <tr [pEditableRow]="etatMarche" [pSelectableRow]="etatMarche" [pContextMenuRow]="etatMarche">
                            <td style="width: 3em">
                                <p-tableCheckbox [value]="etatMarche"></p-tableCheckbox>
                            </td>
                            <td class="ui-resizable-column">
                                {{ etatMarche?.code }}
                            </td>
                            <td class="ui-resizable-column">
                                {{ etatMarche?.libelle }}
                            </td>
                            <td class="ui-resizable-column">
                                {{ etatMarche?.description }}
                            </td>
                            <td class="ui-resizable-column">
                                {{ etatMarche?.etatSuivant }}
                            </td>
    
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer" let-columns>
                        <tr>
                            <td style="width: 3em">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </td>
                            <td>Code</td>
                            <td>Libelle</td>
                            <td>Description</td>
                            <td>Etat Precedent</td>
                        </tr>
                    </ng-template>
                </p-table>
         </p-tabPanel>

    </p-tabView>
</p-fieldset>