<p-toast></p-toast>
<p-fieldset *ngIf="'User'|showable" legend="Affichage des informations - Utilisateur" [toggleable]="true">
  <p-toolbar>
    <button *ngIf="'User'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
      [routerLink]="['/'+userSrv.getRoutePrefix(),user.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
      Modifier</button>
    <button *ngIf="'User'|clonable" [routerLink]="['/'+userSrv.getRoutePrefix(),user.id,'clone']" type="button"
      class="btn btn-outline-secondary pull-right ml-1">
      <i class="fa fa-clone" aria-hidden="true"></i> Cloner
    </button>
    <button *ngIf="'User'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1"
      (click)="removeUser()"><i class="fa fa-trash-o"></i> Supprimer</button>
    <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
        class="fa fa-reply"></i> Retour</button>
  </p-toolbar>
  <p-tabView>
    <p-tabPanel header="Détails">
      <p-fieldset [legend]="user.prenom+' '+user.nom+' ('+user.email+')'">
        <table class="table">
          <tr>
            <th>Prenom</th>
            <td>{{ user.prenom }}</td>
          </tr>
          <tr>
            <th>Nom</th>
            <td>{{ user.nom }}</td>
          </tr>
          <tr>
            <th>Telephone</th>
            <td>{{ user.telephone }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <th>Fonction</th>
            <td>{{ user?.fonction }}</td>
          </tr>
          <tr>
            <th>Etat Compte</th>
            <td>{{ user.enabled ? 'Actif' : 'Inactif' }}</td>
          </tr>
          <tr>
            <th>Dernierement connecté</th>
            <td>{{ user.lastLogin|date:'dd/MM/yyyy à HH:mm:ss' }}</td>
          </tr>
          <tr>
            <th>Groupes associés</th>
            <td><p-chips disabled="true" [(ngModel)]="user.groups">
              <ng-template let-item pTemplate="item">
                  {{item.name}} - ({{item.code}}) <i class="fa fa-gift" aria-hidden="true"></i>
              </ng-template>
          </p-chips></td>
          </tr>
        </table>
        <p-toolbar>
          <button *ngIf="'User'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
            [routerLink]="['/'+userSrv.getRoutePrefix(),user.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
            Modifier</button>
          <button *ngIf="'User'|clonable" [routerLink]="['/'+userSrv.getRoutePrefix(),user.id,'clone']" type="button"
            class="btn btn-outline-secondary pull-right ml-1">
            <i class="fa fa-clone" aria-hidden="true"></i> Cloner
          </button>
          <button *ngIf="'User'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1"
            (click)="removeUser()"><i class="fa fa-trash-o"></i> Supprimer</button>
          <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
              class="fa fa-reply"></i> Retour</button>
          <button *ngIf="'User'|showable" type="button" class="btn btn-secondary ml-1" (click)="refresh()">
            <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
          </button>
        </p-toolbar>
      </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Liste associée">

    </p-tabPanel>
  </p-tabView>
</p-fieldset>