
.new-sous-class-header {
    background-color: #16647A;
    color: white;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.active-text {
    color: #16647A !important ;
}

.active .bs-stepper-circle {
    background-color: #16647A !important;
}

.customProgress .ui-progressbar .ui-progressbar-label {
  color: yellow;
}

.customProgress .ui-progressbar .ui-progressbar-value {
  background: red;
}

:host >>> .alert-custom {
  color:white;
  background-color: red;
}