<p-toast></p-toast>
<p-fieldset *ngIf="'Secteur'|showable" legend="Affichage des informations secteur" [toggleable]="true">
    <p-toolbar>
        <button *ngIf="'Secteur'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
            [routerLink]="['/'+secteurSrv.getRoutePrefix(),secteur.id,'edit']"><i
                class="fa fa-pencil-square-o ml-1"></i>
            Modifier</button>
        <button *ngIf="'Secteur'|clonable" [routerLink]="['/'+secteurSrv.getRoutePrefix(),secteur.id,'clone']"
            type="button" class="btn btn-outline-secondary pull-right ml-1">
            <i class="fa fa-clone" aria-hidden="true"></i> Cloner
        </button>
        <button *ngIf="'Secteur'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1"
            (click)="removeSecteur()"><i class="fa fa-trash-o"></i> Supprimer</button>
        <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
                class="fa fa-reply"></i> Retour</button>
    </p-toolbar>
    <p-tabView>
        <p-tabPanel header="Détails">
            <p-fieldset [legend]="secteur.libelle">
                <table class="table">
                    <tr>
                        <th>Code</th>
                        <td>{{ secteur.code }}</td>
                    </tr>
                    <tr>
                        <th>Libelle</th>
                        <td>{{ secteur.libelle }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ secteur.description }}</td>
                    </tr>
                </table>
                <p-toolbar>
                    <button *ngIf="'Secteur'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
                        [routerLink]="['/'+secteurSrv.getRoutePrefix(),secteur.id,'edit']"><i
                            class="fa fa-pencil-square-o ml-1"></i>
                        Modifier</button>
                    <button *ngIf="'Secteur'|clonable"
                        [routerLink]="['/'+secteurSrv.getRoutePrefix(),secteur.id,'clone']" type="button"
                        class="btn btn-outline-secondary pull-right ml-1">
                        <i class="fa fa-clone" aria-hidden="true"></i> Cloner
                    </button>
                    <button *ngIf="'Secteur'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1"
                        (click)="removeSecteur()"><i class="fa fa-trash-o"></i> Supprimer</button>
                    <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
                            class="fa fa-reply"></i> Retour</button>
                    <button *ngIf="'Secteur'|showable" type="button" class="btn btn-secondary ml-1" (click)="refresh()">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
                    </button>
                </p-toolbar>
            </p-fieldset>
        </p-tabPanel>
        <p-tabPanel header="Liste des fournisseurs">
            <p-table #tt *ngIf="!loading" [value]="secteur.fournisseurs" [paginator]="true" [rows]="50" sortMode="multiple"
                selectionMode="multiple" [(selection)]="selectedFournisseurs" [resizableColumns]="true" [responsive]="true"
                [scrollable]="true" scrollHeight="400px" [globalFilterFields]="globalFilterFields" dataKey="id" [loading]="loading" >
                <ng-template pTemplate="caption">
                    Liste des fournisseurs<br>
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input type="text" pInputText size="50" placeholder="Rechercher dans le tableau"
                        (input)="tt.filterGlobal($event.target['value'], 'contains')" style="width:auto">
                </ng-template>
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th [pSortableColumn]="'nom'" pResizableColumn>
                            Nom
                            <p-sortIcon [field]="'nom'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'telephone'" pResizableColumn>
                            Telephone
                            <p-sortIcon [field]="'telephone'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'email'" pResizableColumn>
                            Email
                            <p-sortIcon [field]="'email'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'adresse'" pResizableColumn>
                            Adresse
                            <p-sortIcon [field]="'adresse'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'ninea'" pResizableColumn>
                            Ninea
                            <p-sortIcon [field]="'ninea'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'nomContact'" pResizableColumn>
                            Nom du contact
                            <p-sortIcon [field]="'nomContact'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'telContact'" pResizableColumn>
                            Téléphone du contact
                            <p-sortIcon [field]="'telContact'"></p-sortIcon>
                        </th>
                        <th [pSortableColumn]="'fonctionContact'" pResizableColumn>
                            Fonction du contact
                            <p-sortIcon [field]="'fonctionContact'"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fournisseur>
                    <tr [pEditableRow]="fournisseur" [pSelectableRow]="fournisseur" [pContextMenuRow]="fournisseur">
                        <td style="width: 3em">
                            <p-tableCheckbox [value]="fournisseur"></p-tableCheckbox>
                        </td>
                        <td class="ui-resizable-column">
                            {{ fournisseur?.nom }}
                        </td>
                        <td class="ui-resizable-column">
                            {{ fournisseur?.telephone }}
                        </td>
                        <td class="ui-resizable-column">
                            {{ fournisseur?.email }}
                        </td>
                        <td class="ui-resizable-column">
                            {{ fournisseur?.adresse }}
                        </td>
                        <td class="ui-resizable-column">
                            {{ fournisseur?.ninea }}
                        </td>
                        <td class="ui-resizable-column">
                            {{ fournisseur?.nomContact }}
                        </td>
                        <td class="ui-resizable-column">
                            {{ fournisseur?.telephoneContact }}
                        </td>
                        <td class="ui-resizable-column">
                            {{ fournisseur?.fonctionContact }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" let-columns>
                    <tr>
                        <td style="width: 3em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </td>
                        <td>Nom</td>
                        <td>Téléphone</td>
                        <td>Email</td>
                        <td>Adresse</td>
                        <td>Ninea</td>
                        <td>Nom du contact</td>
                        <td>Téléphone du contact</td>
                        <td>Fonction du contact</td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="loading" class="row">
                <div class="offset-sm-5 offset-xl-5 offset-md-5 col-sm-7 col-md-7 col-lg-7">
                  <p-progressSpinner animationDuration=".3s" ></p-progressSpinner>
                </div>
              </div>
            <p-toolbar>
                <button *ngIf="'Entite'|deletable" (click)="deleteSelectedFournisseurs()" type="button"
                    class="btn btn-outline-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer selection
                </button>
            </p-toolbar>
        </p-tabPanel>
        <p-tabPanel header="Liste associée">

        </p-tabPanel>
    </p-tabView>
</p-fieldset>