<p-toast></p-toast>
<p-fieldset *ngIf="'Group'|showable" legend="Affichage des informations - Utilisateur" [toggleable]="true">
  <p-toolbar>
    <button *ngIf="'Group'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
      [routerLink]="['/'+groupSrv.getRoutePrefix(),group.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
      Modifier</button>
    <button *ngIf="'Group'|clonable" [routerLink]="['/'+groupSrv.getRoutePrefix(),group.id,'clone']" type="button"
      class="btn btn-outline-secondary pull-right ml-1">
      <i class="fa fa-clone" aria-hidden="true"></i> Cloner
    </button>
    <button *ngIf="'Group'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1"
      (click)="removeGroup()"><i class="fa fa-trash-o"></i> Supprimer</button>
    <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
        class="fa fa-reply"></i> Retour</button>
  </p-toolbar>
  <p-tabView>
    <p-tabPanel header="Détails">
      <p-fieldset [legend]="group.id">
        <table class="table">
          <tr>
            <th>Name</th>
            <td>{{ group.name }}</td>
          </tr>
          <tr>
            <th>Roles</th>
            <td>{{ group.roles}}</td>
          </tr>
          <tr>
            <th>Code</th>
            <td>{{ group.code }}</td>
          </tr>
        </table>
        <p-toolbar>
          <button *ngIf="'Group'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
            [routerLink]="['/'+groupSrv.getRoutePrefix(),group.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
            Modifier</button>
          <button *ngIf="'Group'|clonable" [routerLink]="['/'+groupSrv.getRoutePrefix(),group.id,'clone']" type="button"
            class="btn btn-outline-secondary pull-right ml-1">
            <i class="fa fa-clone" aria-hidden="true"></i> Cloner
          </button>
          <button *ngIf="'Group'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1"
            (click)="removeGroup()"><i class="fa fa-trash-o"></i> Supprimer</button>
          <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
              class="fa fa-reply"></i> Retour</button>
          <button *ngIf="'Group'|showable" type="button" class="btn btn-secondary ml-1" (click)="refresh()">
            <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
          </button>
        </p-toolbar>
      </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Liste associée">

    </p-tabPanel>
  </p-tabView>
</p-fieldset>