<p-toast></p-toast>
<p-fieldset *ngIf="'Group'|showable" legend="Affichage des informations - Groupe utilisateur" [toggleable]="true">
  <p-toolbar>
    <button *ngIf="'Group'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
      [routerLink]="['/'+groupSrv.getRoutePrefix(),group.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
      Modifier</button>
    <button *ngIf="'Group'|clonable" [routerLink]="['/'+groupSrv.getRoutePrefix(),group.id,'clone']" type="button"
      class="btn btn-outline-secondary pull-right ml-1">
      <i class="fa fa-clone" aria-hidden="true"></i> Cloner
    </button>
    <button *ngIf="'Group'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1"
      (click)="removeGroup()"><i class="fa fa-trash-o"></i> Supprimer</button>
    <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
        class="fa fa-reply"></i> Retour</button>
  </p-toolbar>
  <p-tabView>
    <p-tabPanel header="Détails">
      <p-fieldset [legend]="group.name">
        <table class="table">
          <tr>
            <th>Code</th>
            <td>{{ group.code }}</td>
          </tr>
          <tr>
            <th>Nom</th>
            <td>{{ group.name }}</td>
          </tr>
        </table>
        <p-toolbar>
          <button *ngIf="'Group'|editable" type="button" class="btn btn-outline-warning pull-right ml-1"
            [routerLink]="['/'+groupSrv.getRoutePrefix(),group.id,'edit']"><i class="fa fa-pencil-square-o ml-1"></i>
            Modifier</button>
          <button *ngIf="'Group'|clonable" [routerLink]="['/'+groupSrv.getRoutePrefix(),group.id,'clone']" type="button"
            class="btn btn-outline-secondary pull-right ml-1">
            <i class="fa fa-clone" aria-hidden="true"></i> Cloner
          </button>
          <button *ngIf="'Group'|deletable" type="button" class="btn btn-outline-danger pull-right ml-1"
            (click)="removeGroup()"><i class="fa fa-trash-o"></i> Supprimer</button>
          <button type="button" class="btn btn-outline-secondary pull-left ml-1" (click)="location.back()"><i
              class="fa fa-reply"></i> Retour</button>
          <button *ngIf="'Group'|showable" type="button" class="btn btn-secondary ml-1" (click)="refresh()">
            <i class="fa fa-refresh" aria-hidden="true"></i> Raffraichir les données
          </button>
        </p-toolbar>
      </p-fieldset>
    </p-tabPanel>
    <p-tabPanel header="Droits d'accès">
      <div class="row">
        <div class="col-lg-6" *ngFor="let accessGroup of accessGroups">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="8" class="text-center">
                  {{accessGroup.groupName}}
                </th>
              </tr>
              <tr>
                <th>Nom</th>
                <th>
                  <i class="fa fa-list" aria-hidden="true"></i>
                </th>
                <th>
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </th>
                <th>
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </th>
                <th>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </th>
                <th>
                  <i class="fa fa-clone" aria-hidden="true"></i>
                </th>
                <th>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let accessModel of accessGroup.accessModels; let i=index">
                <td scope="row">{{accessModel.tableName}}</td>
                <td>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input disabled name="{{accessModel.tableName}}Index" [(ngModel)]="accessModel.isIndexAllowed" type="checkbox"
                      class="custom-control-input" id="{{accessModel.tableName}}Index">
                    <label class="custom-control-label" for="{{accessModel.tableName}}Index"></label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input disabled name="{{accessModel.tableName}}Show" [(ngModel)]="accessModel.isShowAllowed" type="checkbox"
                      class="custom-control-input" id="{{accessModel.tableName}}Show">
                    <label class="custom-control-label" for="{{accessModel.tableName}}Show"></label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input disabled name="{{accessModel.tableName}}Create" [(ngModel)]="accessModel.isCreateAllowed"
                      type="checkbox" class="custom-control-input" id="{{accessModel.tableName}}Create">
                    <label class="custom-control-label" for="{{accessModel.tableName}}Create"></label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input disabled name="{{accessModel.tableName}}Edit" [(ngModel)]="accessModel.isEditAllowed" type="checkbox"
                      class="custom-control-input" id="{{accessModel.tableName}}Edit">
                    <label class="custom-control-label" for="{{accessModel.tableName}}Edit"></label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input disabled name="{{accessModel.tableName}}Clone" [(ngModel)]="accessModel.isCloneAllowed" type="checkbox"
                      class="custom-control-input" id="{{accessModel.tableName}}Clone">
                    <label class="custom-control-label" for="{{accessModel.tableName}}Clone"></label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input disabled name="{{accessModel.tableName}}Delete" [(ngModel)]="accessModel.isDeleteAllowed"
                      type="checkbox" class="custom-control-input" id="{{accessModel.tableName}}Delete">
                    <label class="custom-control-label" for="{{accessModel.tableName}}Delete"></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Liste associée">

    </p-tabPanel>
  </p-tabView>
</p-fieldset>